/* Colors */
:root {
    --main-color: #aa5b42;
    --sub-color: #f3c5b6;
    --login-color: rgba(0, 0, 0, 0.07);
    --dashboard-color: #fffcfb;
    --dashboard-icon-color: #d6a291;
    --step-color: #ebcfc6;
    --dark-step-color: #cea193;
    --gray-color: #b8b5b5;
    --dark-gray-color: #686868;
}

.diary-box{
    width: 1440px;
    height: auto;
}

.header{
    width: 100%;
    height: auto;
}

.header-text-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.diary-button{
    display: flex;
    gap: 10px;
}

.diary-write-button{
    width: 100px;
    height: 40px;
    justify-self: flex-end;

    border-radius: 5px;
    background-color: rgba(0,0,255,0.3);
    
    font-size: 17px;
    text-align: center;
    line-height: 40px;

    cursor: pointer;
}

.diary-write-button:hover,
.diary-delete-button:hover
{
    opacity: 0.7;
}

.diary-delete-button{
    width: 100px;
    height: 40px;
    justify-self: flex-end;

    border-radius: 5px;
    background-color: rgba(255,0,0,0.3);
    
    font-size: 17px;
    text-align: center;
    line-height: 40px;

    cursor: pointer;
}

.text{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin: 10px;
}

.text-month{
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
}

.text-year{
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;
}

.icon-left,
.icon-right{
    font-size: 25px;
}

.icon-left:hover,
.icon-right:hover{
    color: var(--dark-gray-color);
}

.row-days{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-bottom: 10px;
    font-size: 11px;
}

.body{
    margin-bottom: 10px;
}

.rows-date{
    width: calc(1440px / 7);
    text-align: center;
    border-radius: 10px;
    background-color: var(--sub-color);
    gap: 10px;
}

.row{
    display: flex;
    flex-direction: row;
}

.sunday{
    color: red;
}

.saturday{
    color: blue;
}

#text-not-valid{
    color: var(--gray-color);
}

.rows-day{
    width: calc(1440px / 7);
    height: 200px;
    border: 1.8px solid var(--gray-color);
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    margin: 2px;
}

.disabled{
    color: var(--gray-color);
}

.selected{
    border: 1px solid var(--dashboard-icon-color);
}
.day-content > div{
    width: 200px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
    